/**
 * @file
 * Styling for pantheon-autopilot toolbar module.
 */

.toolbar .toolbar-tray-vertical .edit-pantheon-autopilot-toolbar {
  text-align: right; /* LTR */
  padding: 1em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .edit-pantheon-autopilot-toolbar {
  text-align: left;
}

.toolbar .toolbar-tray-horizontal .edit-pantheon-autopilot-toolbar {
  float: right; /* LTR */
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal .edit-pantheon-autopilot-toolbar {
  float: left;
}

.toolbar .toolbar-tray-horizontal .toolbar-menu {
  float: left; /* LTR */
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal .toolbar-menu {
  float: right;
}

.toolbar .toolbar-bar .toolbar-icon-pantheon-autopilot:before {
  background-image: url(../icons/robot.svg);
}

.toolbar-bar .toolbar-icon-pantheon-autopilot:active:before,
.toolbar-bar .toolbar-icon-pantheon-autopilot.is-active:before {
  background-image: url(../icons/robot.svg);
}

.toolbar-horizontal .toolbar-horizontal-item-hidden {
  display: none;
}
